// content
@mixin input_template{
		height:55px;
		background: rgba(#000,0.8);
		border:0px solid #fff;
		border-radius: 0px;
		color:#fff;
		font-size: 15pt;
}

#section3{
	background:url(../images/bg-content.jpg) no-repeat center center;
	.container-title{
			margin-top:-100px;
			margin-bottom: 50px;
		}
	input{
@include input_template;
	}

	.form-group{
		margin:0;
	}
	.row{
		margin:20px auto;
	}
}
#msg{
@include input_template;
height:auto;
}

#submit{
	background:#000;
	border:0px solid #e9e9e9;
	height:45px;
	color:#fff;
	border-radius:0;
}
.float-right{
	float:right;
	@include pie-clearfix;
}
@media screen and (max-width:$md){
	.float-right{
		float: none;
	}
	#section3 .form-group{
		margin:10px;
	}
}

@media screen and (max-width:$sm){
	#section3-container{
		// overflow: hidden;
		.container-title{
			margin-top: 0px;
			margin-bottom: 50px;
		}
	}
}
@media screen and (max-height:860px){
   
#section3 .container-title {
        margin-top:0;
    }
}

// social-media

.social-media{
	list-style:none;
	float:right;
	margin-top:-50px;
	text-align:right;
	li{
		display:inline-block;
		margin-right:5px;
		a{
			display:block;
			@include size(30px,30px);
			img{width:100%;}
		}
	}
}