.content-us {
    position: relative;
    z-index: 50;
    text-align: left;
}

.share-bar {
	margin-top: -5px;
    float: left;
    li {
        @include size(50px, 50px);
        // background: #fff;
        margin-right: 5px;
        display: inline-block;
        a {
            border: 0px solid #000;
            display: block;
            @include size(100%, 100%);
            border-radius:50%;
            transition: border 0.5s ease-in-out;
            &:hover {
                border: 5px dotted #17CDB0;
            }
        }
    }
    .share-bar1 {background: url(../images/social/Facebook_Color.svg) no-repeat center center;}
    .share-bar2 {
        background: url(../images/social/Instagram_Color.svg) no-repeat center center;
    }
    .share-bar3 {
        background: url(../images/social/LinkedIN_Color.svg) no-repeat center center;
    }
    .share-bar4 {
        background: url(../images/social/Telegram_Color.svg) no-repeat center center;
    }
    .share-bar5 {
        background: url(../images/social/Tumblr_Color.svg) no-repeat center center;
    }
}

@media screen and (max-width:$md) {
	.share-bar{margin-top:0;
		li{margin-right: 0px;
			@include size(30px,30px);
		}
	}
	.paper-container3{
	@include size(80%,100%);
	position: absolute;
	top:0;
	right:0;
	background: url(../images/bg3-bg.jpg) no-repeat bottom right;
	background-size:100%;
}
}