// 變數
$sm:768px;
$md:992px;
$lg:1200px;
@import "brain_plugin";
@import 'layout';
@import "menu";
@import 'section3';
@import 'profile-resume';
@import 'mousescroll';
@import 'contect';
// 後續修改20170419
@import 'section0_2.scss';
@import "menu2";
@import 'profile-nav2';
@import 'circle.scss';
@import 'content2.scss';
@import 'section4.scss';
@import 'resume2.scss';



