body{
	background: #000;
}
#section0{
	background:#000 url(../images/bg.jpg) repeat-x top center;	
}
#section1{
	background:#fff url(../images/resume-bg.jpg)no-repeat top center;
	background-size:cover;
}
#section3{
	background: url(../images/bg3.jpg) no-repeat center right ;
	background-size:80%;
}

// planet moving
#staticImg{
	@include size(100%,auto);
	position: absolute;
	max-width:700px;
	left:0px;
	right:0;
	top:3%;
	margin:auto;
	z-index: 28;
	transition:all 0.9s ease-out;
	animation:planet 15s infinite;
	opacity: 0.8;
	img{width:100%;margin-left: 200px;}
	.imgsContainer{
		position: relative;
		z-index: 50;

	}
	.imgsContainer2{
		position: relative;
		margin-top: -30px;
	}
}

	#staticImg.moveDown{
		  width:30%;
          transform: translate3d(120%, 28%, 0);
          opacity: 1;
          img{margin-left: 0;}
	}
	#staticImg.moveUp{
		width:100%;
          transform: translate3d(0% , 15%, 120%);

	}
	#staticImg.active{
		top: 50%;
	}

@keyframes planet{
	0%{bottom:100px;}
	50%{bottom:50px;}
	100%{bottom:100px;}
}
@media screen and (max-width:$md){
	#staticImg{
		max-width: 500px;

	}
}
@media screen and (max-width:$sm) {
#fp-nav{display: none;}
#staticImg.moveDown{
	z-index: 5;
          transform: translate3d(120%, 28%, 0);
          // opacity: 0;
	}
#staticImg.moveUp{
	bottom:0px;
    transform: translate3d(10px , 10%, 100%);
	}
}