// header
@import "brain_plugin";
#fullpage {
    overflow: hidden;
    #section0 {
        background: #000 url(../images/bg-s.jpg) repeat-x top center;
    }
    #section1 {
        background: #000 url(../images/resume-bg-s.jpg)no-repeat top center;
        // background-size: contain;
    }
    #section3 {
        background: url(../images/bg3.jpg) repeat top left;
    }
    .moautain-icon {
        background: url(../images/moutain-s.png) no-repeat bottom right;
        background-size: 100%;
    }
}

#menu {
    z-index: 99;
}

#section0 {
    position: relative;
    @include size(100%, auto);
    .box-center {
        position: relative;
        overflow: hidden;
        padding-top: 20px;
    }
    #staticImg {
        position: relative;
        width: 100%;
        max-width: 500px;
        margin: auto;
        display: block;
        padding: 10px;
        z-index: 80;
        opacity: 1;
        // top:0px;
        // height: 100px;
        margin: 80px auto -50px auto;
        img{margin:0;}
    }
        h1 {
            font-size: 5rem;
            float: none;
            text-align: center;
            top:10px;
            margin:auto;
        }
        h5 {
            font-size: 1.5rem;
            float: none;
            margin: 10px;
            margin-top: 10px;
        }
        .time{float:none;text-align: center;}
        .subtitle-atricle{
            text-align: center;
            float: none;
            margin: auto;
            padding-top: 25px;
            width:100%;
            max-width: 400px;
        }
    .mouse-wheel {
        position: relative;
        // margin-top: 20px;
        margin: 20px auto 0 auto;
        // width:20%;
    }
}

.moautain-icon {
    background: url(../images/moutain-s.png) no-repeat bottom left;
    @include size(100%, 229px);
    max-width: 500px;
    position: absolute;
    bottom: 10px;
    right: 0;
    background-size: 100%;
}

#section1 {
    overflow: visible;
    padding: 50px 15px 150px 15px;
}

// resume
#section2 {
    background: #f2f2f2 repeat top left;
}

#section3 {
    padding-bottom: 150px;
}

@media screen and (max-width:$sm) {
    .moreprofile{
        top:-150px;
    }
    .container-title h4 {
        font-size: 20pt;
        line-height: 20pt;
    }
    #section0 {
        // max-height: 700px;
        background-size: 100%;
        h1 {
            margin-top: 0px;
            line-height: 40pt;
            font-size: 40pt;
        }
    }
    // resume
    #section1 {
        overflow: visible;
        padding: 0px 15px 0px 15px;
        #section1-container {
            padding-bottom: 0;
        }
        .profile-collect {
            margin-bottom: 10px;
        }
    }
    #section2 {
        #section2-container {
            padding: 60px 20px 0px 20px;
            .resume-role {
                margin-top: -20px;
            }
        }
    }
    #fox-img {
        bottom: 50px;
    }
}
