// selection1
#section1 {
  background: url(../images/resume_bg_bg2.jpg) repeat top center;
  .container-title {
      margin-top: 0;
  }
  .profile-article{
    margin: 15px;
    max-width:480px;
  }
  @media screen and (max-width:768px){
    .profile-article{
      margin:0;
      padding:10px;
    }
  }
}
.swiper-container{
 margin-left:10px;
}
// decration
.paper-container {
    background: url(../images/paper-edge-top.png) left top;
    @include size(100%, 40px);
    position: absolute;
    bottom: 0;
    left: 0;
}

.profile-nav-bg {
    background: #e8e8e8;
}

.profile-collect {
    position: relative;
    z-index: 50;
}

.profile-work {
    position: relative;
    display: block;
    top: 0;
<<<<<<< HEAD
    background-size: cover;
    @include size(100%,300px);
=======
    @include size(100%,300px);
    background-size: 100%;
>>>>>>> master
    transition: all 0.5s ease;
    &:after {
      content: "";
      position: absolute;
      font-size: 15pt;
      line-height: 15pt;
      color: #fff;
      text-align: center;
      background:rgba(#000,0.5) url('../images/white-search.png') no-repeat center center;
      background-size: 25%;
      top: 0;
      left: 0;
      @include size(0,
      0);
      border: 0px inset #fff;
      border-width: 100%;
      transition: all 0.5s ease 0.4s;
  }
  &:hover {
    text-decoration: none;
    &:after {
        // margin-left: $move-margin-left;
        margin-top:0;
        z-index: 30;
        border: 2px solid #fff;
        @include size(100%,
        100%);
    }
    //hover fin
}
}
.swiper-button-next, .swiper-button-prev{
  z-index: 99;
  background-color:#fff;
  padding: 50px 20px;
  &.swiper-button-disabled{
    pointer-events: stroke;
  }
}
.profile-nav {
    position: relative;
    display: inline-block;
    // background: #000 no-repeat top center;
    z-index: 80;
    @include size(100%, auto);
    transition: all 0.5s ease;
    vertical-align: middle;
    overflow: visible;
    .profile-title {
        opacity: 1;
        color: #fff;
        font-size: 12pt;
        text-decoration: none;
        text-align: center;
        vertical-align: bottom;
        z-index: 50;
        display:inline;
        padding: 10px;
        transition: all 0.5s ease;
        margin-top: 0px;
        span{
          @include size(auto,auto);
        }
    }
}


@media screen and (max-width:$md) and (max-height:860px) {
    .col-sm-4 {
        padding-left: 0;
    }
    #section1.container-title {
        margin-top: 0px;}
}

@media screen and (max-width:$sm) {
    #section1 {
        .container-title {
            margin-top: 0px;
        }
    }
    #section1-container {
        padding-bottom: 120px;
        padding-top: 0px;
    }
    .profile-collect {
        padding: 0;
    }
}

