// section2
#section2 {
    background: url(../images/resume-bg-bg.gif) repeat top left;
    animation-name: bgMove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:  alternate-reverse;
}
@keyframes bgMove{
  0%{
    background-position: 0% top;
  }
  100%{
    background-position: 100% bottom;
  }
}
.container-title {
    text-align: center;
    margin-top: -100px;
    span {
        @include size(103px, 183px);
        display: block;
        margin: 0 auto;
    }
}

#resume-logo {
    // margin-left:-50px;
    left: -100px;
    img {
        width: 689px;
        max-width: 689px;
    }
}

// profile skill
#bars {
    h5 {
        color: #000;
        font-size: 15pt;
        z-index: 50;
        text-align: center;
        position: absolute;
        bottom: -50px;
    }
    .c100 {
        margin: 50px 10px 0px 10px;
    }
}

.button-resume {
    display: block;
    @include size(200px, 50px);
    // float:right;
    color: $menu-color;
    text-align: center;
    font-size: 20pt;
    line-height: 50px;
    border: 1px solid $menu-color;
    transition: all 0.4s ease;
    margin: 30px auto 0 auto;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: $menu-color;
        border: 0px;
    }
}

.bar {
    float: left;
    position: absolute;
    top: 0;
    left: -10px;
    @include size(1em, 1em);
    text-align: center;
    margin-left: 10px;
    @include pie-clearfix;
}

.bar-circle {
    // @include size(144px,144px);
    // display: block;
    margin: 0.7em auto;
}

.atricle-brand {
    margin-top: 60px;
    font-size: 12pt;
}

@media screen and (max-width:$md) {


	#section2-container{
		padding-bottom:50px;
		.container-title {
    text-align: center;
    margin-top: 0px;
}
	}
	.containter-resume{
		position: relative;
		text-align: center;
		margin:0 auto;
	}
    #resume-logo {
        // margin-left:-50px;
        position: relative;
        left:10px;
        margin:0 auto;
        img {
            width: 100%;
            max-width: 689px;
        }
    }
    #bars{
    	// float: none;
    	text-align: center;
    	.c100{
    		float: none;
    		display:inline-block; 
    	}
    }
}

