// selection0
#section0 {
    position: relative;
    .fp-tableCell{
      vertical-align: top;
    }
    .banner-swiper-container{
      margin:75px 0px;
    }
    .atricle-profile{
      width:80%;
      margin:auto;
      @media screen and (max-width:1200px){
        display: none;
      }
    }
    .slide-title-bg{
      position: absolute;
      @include size(50%,100%);
      bottom:0;
      right:0;
      z-index: 20;
      // background:url(../images/slider-bg.png) no-repeat right bottom;
      background-color:#fff;
      background-size:cover;
      pointer-events: none;
      background-position: 180px;
      -webkit-clip-path: polygon(100% 0, 80% 0, 78% 16%, 75% 31%, 70% 46%, 64% 59%, 57% 69%, 48% 80%, 38% 87%, 28% 91%, 19% 94%, 9% 97%, 0 100%, 100% 100%);
      clip-path: polygon(100% 0, 80% 0, 78% 16%, 75% 31%, 70% 46%, 64% 59%, 57% 69%, 48% 80%, 38% 87%, 28% 91%, 19% 94%, 9% 97%, 0 100%, 100% 100%);
      @media screen and (max-width:1200px){
        clip-path: none;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        left:0;
        width:100%;
        height:30vh;
      }
      @media screen and (max-width:760px) and (max-height:736px){
        height:40vh;
      }
    }
    .banner-collect{
      position: relative;
    }
    .banner-nav{
      width:250px;
      height:250px;
      overflow: hidden;
      img{height:100%;}
      @media screen and (max-width:640px){
        @include size(120px,120px);
      }
    }
    .mouse-wheel {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10px;
        z-index: 50;
        .mouse {
            margin: auto;
        }
        p {
            text-align: center;
            letter-spacing: 12px;
            text-indent: 12px;
            margin-top: 10px;
        }
    }
}

.article-brand {
    @include size(30%,auto);
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 12%;
    right:0;
    z-index: 50;
    padding:10px;
    // background:rgba(#000,0.2);
    pointer-events: none;
    .subtitle {
      color:#282e38;
      float: none;
      text-align: left;
      font-size: 30pt;
      display: inline;
      margin-top:10px;
    }
    .time {
      color:#696d72;
      margin: auto;
      clear: both;
      font-size: 15pt;
      font-weight: normal;
      margin-top: 10px;
    }
}

.slide {
  vertical-align: middle;
  img{width:100%;}
}
#slide1 {
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#slide2 {
  background:#cad2dd;
}

@media screen and (max-width:$lg) {
    #section0 .fp-controlArrow {
        border-width: 15px 0 15px 15px;
    }
    .article-brand {
      width:100%;
      top:0;
      bottom:0;
    }
}