// selection0
#section0 {
    position: relative;
<<<<<<< HEAD
    .banner-swiper-container{
      margin:75px 0px 30px;
=======
    .fp-tableCell{
      vertical-align: top;
    }
    .banner-swiper-container{
      margin:75px 0px;
    }
    .atricle-profile{
      width:80%;
      margin:auto;
      @media screen and (max-width:768px){
        display: none;
      }
>>>>>>> master
    }
    .slide-title-bg{
      position: absolute;
      @include size(100%,100%);
      top:0;
      left:0;
      z-index: 20;
      background:url(../images/slider-bg.png) no-repeat right bottom;
      background-size:cover;
      pointer-events: none;
<<<<<<< HEAD
      background-position: 100px;
      @media screen and (max-width:768px){
=======
      background-position: 180px;
      @media screen and (max-width:1200px){
>>>>>>> master

        background-position:20%;
      }
    }
    .banner-collect{
      position: relative;
    }
    .banner-nav{
      width:250px;
      margin-left:5px;
      height:250px;
      overflow: hidden;
      img{height:100%;}
<<<<<<< HEAD
      @media screen and (max-width:768px){
        @include size(180px,180px);
=======
      @media screen and (max-width:640px){
        @include size(120px,120px);
>>>>>>> master
      }
    }
    .mouse-wheel {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10px;
        z-index: 50;
        .mouse {
            margin: auto;
        }
        p {
            text-align: center;
            letter-spacing: 12px;
            text-indent: 12px;
            margin-top: 10px;
        }
    }
}

.article-brand {
    @include size(30%,auto);
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 12%;
    right:0;
    z-index: 50;
    padding:10px;
    // background:rgba(#000,0.2);
    pointer-events: none;
    .subtitle {
      color:#282e38;
      float: none;
      text-align: left;
      font-size: 30pt;
      display: inline;
      margin-top:10px;
    }
    .time {
      color:#696d72;
      margin: auto;
      clear: both;
      font-size: 15pt;
      font-weight: normal;
      margin-top: 10px;
    }
}

.slide {
  vertical-align: middle;
  img{width:100%;}
}
#slide1 {
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#slide2 {
  background:#cad2dd;
}

@media screen and (max-width:$md) {
    #section0 .fp-controlArrow {
        border-width: 15px 0 15px 15px;
    }
    .article-brand {
      width:100%;
    }
}