doctype html
html
  //自動匯入head.jade
  body
    //你可以匯入mixin的設定變數設定
    include ./mixin.jade
    header 沒問題
    h1 Jade Basic
     p 這是Jade基本寫法s
    h3 我覺得超難的
     .color12 

    +link('https://minwt.com','梅問題','btn')
    +link('http://google.com','google','btn')
    //當其他介面的設定 可以在這使用
    include ./footer.jade
    // Ul 的語法
    ul
     li.first: a(href='#') foo
     li: a(href='#') bar
     li.last: a(href='#') baz
     input(
  		type='checkbox'
  		name='agreement'
  		checked)
      
