#section1.section
      #section1-container.container
        .container-title
          span
          h4 Rcent Project
        .row.profile-collect
          .col-xs-12.col-sm-4.col-md-4
            a.profile-nav(href='https://medium.com/@brianli_42376/%E5%A6%96%E6%80%AA%E6%9D%91%E5%A4%A7%E6%A8%82%E9%80%8F-%E8%A3%BD%E4%BD%9C%E6%B5%81%E7%A8%8B-107b3400c3f8#.7usztpm6c', target='_blank')
              h6.profile-title Monster Village-Lettory Game
              #profile-work1.profile-work
          .col-xs-12.col-sm-4.col-md-4
            a.profile-nav(href='https://medium.com/@brianli_42376/%E6%89%80%E4%BB%A5%E6%88%91%E5%80%91%E5%8F%88%E9%96%8B%E5%A7%8B%E8%A8%88%E5%8A%83%E5%8F%A6%E5%A4%96%E4%B8%80%E5%80%8B%E8%B3%AD%E5%8D%9A%E9%81%8A%E6%88%B2%E4%BE%86%E9%81%8A%E6%A8%82%E4%BA%86-429f270d22c4#.ppq0j7jg2', target='_blank')
              h6.profile-title Monster Village - Slot machine
              #profile-work2.profile-work
          .col-xs-12.col-sm-4.col-md-4
            a.profile-nav(href='https://medium.com/@brianli_42376/monster-village-e-commerce-project-8fdb6379d150#.mc8rhivdp', target='_blank')
              h6.profile-title
                | Monster Village -
                | E-commerence
              #profile-work3.profile-work
      .paper-container.container-fluid