#section3-container.container
        .row
          .col-md-12.content-us
            form#contact_form.form-horizontal(action='contact_post.php', method='post')
              fieldset
                // Form Name
                .container-title
                  span
                  h4 Content Us
                // Text input
                .form-group
                  label.col-md-1.control-label(for='name') Name
                  .col-md-5
                    input#name.form-control.input-md(name='name', type='text', placeholder='Enter your full name here', required='')
                // Text input
                .form-group
                  label.col-md-1.control-label(for='email') Email
                  .col-md-5
                    input#email.form-control.input-md(name='email', type='text', placeholder='Enter your email address here', required='')
                // Textarea
                .form-group
                  label.col-md-1.control-label(for='msg') Message
                  .col-md-5
                    textarea#msg.form-control(name='msg', cols='6', rows='6')
                // Button
                .form-group
                  label.col-md-4.control-label(for='submit')
                    ul.share-bar
                      // Facebook
                      li
                        a.share-bar1(href='https://www.facebook.com/libeenya', target='_blank')
                      // Instagram
                      li
                        a.share-bar2(href='https://www.instagram.com/brain00021/', target='_blank')
                      // LinkedIn
                      li
                        a.share-bar3(href='https://www.linkedin.com/in/bingyeli/', target='_blank')
                      // Telegram
                      li
                        a.share-bar4(href='mailto:brain00021@gmail.com.tw')
                      // Tumblr
                      li
                        a.share-bar5(href='https://www.tumblr.com/blog/brain00021', target='_blank')
                  .col-md-2.sumbmitcontral
                    button#submit.btn.btn-primary(name='submit') Send Message