body
  //menu
  include ./menu.jade
  #fullpage
    // moviing
    include staticImg.jade
    // index-fullview
    include ./section0.jade
    // project
    include recentprofile.jade
    // profile
    #section2.section
      include resume.jade
          // role
      #fox-img
      .paper-container2.container-fluid
    // contect us
    #section3.section
      include contentus.jade
      .paper-container3.container-fluid
  include ./footer.jade 
