// menu
ul#menu.menu-position.container-fulid
  .row
    li.col-xs-3.col-md-3(data-menuanchor='topfullview')
      a(href='#topfullview')
        span.glyphicon.glyphicon-star(aria-hidden='true')
        p Topview
    li.col-md-3.col-xs-3(data-menuanchor='recent-projecte')
      a(href='#recent-project')
        span.glyphicon.glyphicon-phone(aria-hidden='true')
        p Recent Project
    li.col-md-3.col-xs-3(data-menuanchor='profile')
      a(href='#profile')
        span.glyphicon.glyphicon-adjust(aria-hidden='true')
        p About me
    li.col-md-3.col-xs-3(data-menuanchor='contect-me')
      a(href='#contect-me')
        span.glyphicon.glyphicon-file(aria-hidden='true')
        p Contect Us