#section2-container.container
        .container-title
          span
          h4 Profile
        .containter-resume.row
          .col-sm-12.col-md-3.col-md-push-9
            .resume-role
          .col-sm-12.col-md-9.col-md-pull-3
            p Brian li
            p Tel:(+61)0432512864
            p Tel:(+886)0910643955
            p
              | “A web designer , Front- end engineer and User Interface developer, over 3 years of working experiences. I am able to plan and have vast experiences of working on web development. Besides, focusing on standard-compliant HTML,CSS and JS to build the web application which works across the devices from mobile to desktop."
          .container-resume2.row
            .col-md-3.col-sm-3.col-xs-12
              .container2-title.col-md-12
                span
                  img(src='images/Star.svg')
                h6 Skill
              .container2-content.col-md-12
                .skillbrand
                  span Branding Design
                  .bar
                    span.bar-scroll(style='width:80%;')
                .skillbrand
                  span UI/UX Design
                  .bar
                    span.bar-scroll(style='width:80%;')
                .skillbrand
                  span Graphic Design
                  .bar
                    span.bar-scroll(style='width:80%;')
                .skillbrand
                  span Html&Jade
                  .bar
                    span.bar-scroll(style='width:50%;')
                .skillbrand
                  span Css/Scss/Sass
                  .bar
                    span.bar-scroll(style='width:70%;')
                .skillbrand
                  span Javascript/Jquery/Ajax
                  .bar
                    span.bar-scroll(style='width:40%;')
                .skillbrand
                  span Git
                  .bar
                    span.bar-scroll(style='width:20%;')
                .skillbrand
                  span After Effect
                  .bar
                    span.bar-scroll(style='width:20%;')
            .col-md-9.col-sm-9.col-xs-12
              .container2-title.col-md-12
                span
                  img(src='images/Star.svg')
                h6 Work Experence
              .workexperence.col-md-12
                h5 Web designer & Front-end engineer @ Taiwan monster village hotel.
                span JUNE  2014 - October  2017
                p
                  | As a developer at Taiwan monster village hotel. I worked on project like monster village shopping website , monster village slot machine game website and more.Using MVC and technologies such as, Angular, Bootstrap,Ajax,JQuery, and Wordpress. Responsibility for room service booking server maintaining .
              .workexperence.col-md-12
                h5 Web designer @ Gameflier 
                span March 2013 - June 2014
                p
                  | Responsibility for online game website, including branding,designing,coding and maintaining,most works of created online game commercial website . Using animation and framework such as jQuery , Css3 and javascript and other jQuery plugin. I worked on projects like world2.gameflier.com , ro.gameflier.com , al.gameflier.com and more.
              .workexperence.col-md-12
                h5 UI designer @ Taiwan Nantou education commercial 
                span January 2012 - March 2013
                p
                  | As a developer at Taiwan monster village hotel. I worked on project like monster village shopping website , monster village slot machine game website and more.Using MVC and technologies such as, Angular, Bootstrap,Ajax,JQuery, and Wordpress. Responsibility for room service booking server maintaining .
              .container2-title.col-md-12
                span
                  img(src='images/Star.svg')
                h6 Education
              .edcation.col-md-12
                p
                  | Department of Computer Simulation & design - bachelor’s Degree @ Shih Chien University September 2008 - September 2011