$banner-color:#fff;
#section0 {
    text-align: center;
    color: $banner-color;
    h1 {
        font-size: 15rem;
        color: $banner-color;
        // background: rgba(#000,.8);
        border-radius: 5px;
        padding: 10px;
        z-index: 50;
        max-width:900px;
        text-align: left;
        float: left;
        top:50px;
        left: 15px;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Vollkorn', serif;
        animation: colorchange1 15s infinite;

    }
    h5 {
        font-size: 2.5rem;
        text-align: right;
        @include pie-clearfix;
        margin-top: -100px;
        span {
            border-right: .05em solid;
            animation: caret 1s steps(1) infinite;
        }
    }
    .time{font-size:2.5rem;float:right; clear: both; margin-right:15px; }
    .subtitle-atricle{
        text-align:right;
        display: block;
        width:400px;
        position: relative;
        float: right;
        clear: both;
        padding:0 15px;
        margin-top: 20px;
        bottom: 20px;
        font-size: 12pt;
        margin-right: 0;
        @include pie-clearfix;
    }
    .mouse-wheel {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10px;
        font-size: 0.5rem;
        .mouse {
            margin: auto;
        }
        p {
            text-align: center;
            letter-spacing: 12px;
            text-indent: 12px;
            margin-top: 10px;
        }
    }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:$md) {
    #section0 {
        h1 {
            font-size: 4.5rem;
            float: none;
            text-align: center;
            top:10px;
        }
        h5 {
            font-size: 1.5rem;
            float: none;
            margin: 10px;
            margin-top: 10px;
        }
        .time{float:none;text-align: center;}
        .subtitle-atricle{
            text-align: center;
            float: none;
            margin: auto;
            padding-top: 25px;
        }


    }
    #staticImg{
        opacity: 0.2;
        img{margin-left:0;}
    }
    #menu .row a{
    	span{display: block;}
    }
}

$dark:#000;

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

@keyframes colorchange1 {
    0% {
        color: $banner-color;
    }
    50% {
        color: $menu-color;
}
    100% {
        color: $banner-color;
    }
}
