body{
	background: #000;
}
#section0{
	background:#000 url(../images/bg.jpg)no-repeat top center;	
}
#section1{
	background:#fff url(../images/resume-bg.jpg)no-repeat top center;
	background-size:cover;
}
#section3{
	background: url(../images/bg3.jpg) no-repeat center right ;
	background-size:80%;
}

// planet moving
#staticImg{
	@include size(100%,233px);
	position: absolute;
	max-width:500px;
	left:20px;
	bottom:100px;
	z-index: 30;
	transition:all 0.9s ease-out;
	animation:planet 15s infinite;
	img{width:100%;}
	.imgsContainer{
		position: relative;
		z-index: 50;

	}
	.imgsContainer2{
		position: relative;
		margin-top: -30px;
	}
}

	#staticImg.moveDown{
          transform: translate3d(230%, 150%, 0);
	}
	#staticImg.moveUp{
		width:100%;
          transform: translate3d(10% , 10%, 120%);
	}
	#staticImg.active{
		top: 50%;
	}

@keyframes planet{
	0%{bottom:100px;}
	50%{bottom:50px;}
	100%{bottom:100px;}
}

@media screen and (max-width:$sm) {
#fp-nav{display: none;}
#staticImg.moveDown{
          transform: translate3d(50px, 400%, 0);
          opacity: 0;
	}
#staticImg.moveUp{
	bottom:0px;
    transform: translate3d(10px , 0, 100%);
	}
}