#section0{
	background:#000 url(../images/bg.jpg)no-repeat top center;	
}
#section1{
	background:#fff url(../images/bg2.jpg)no-repeat top center;
	background-size:cover;
}
#section3{
	background: url(../images/bg3.jpg) no-repeat center right ;
	background-size:80%;
}