// profile-basic
#seciton1 {}

// decration
.paper-container {
    background: url(../images/paper-edge-top.png) left top;
    @include size(100%, 40px);
    position: absolute;
    bottom: 0;
    left: 0;
}
.moautain-icon{
    background: url(../images/moutain.png) no-repeat top left;
    @include size(100%,229px);
    max-width:800px;
    position: absolute;
    bottom: 10px;
    right:0;
}

.profile-nav-bg {
    background: #e8e8e8;
}

.profile-collect {
    margin-top: 10px;
    position: relative;
    z-index: 50;
}

.profile-work {
    position: absolute;
    display: block;
    top: 0;
    background-size: cover;
    @include size(100%,
    100%);
    transition: all 0.5s ease;
}
#profile-work1{background: url(../images/lettory.jpg) no-repeat center center;}
#profile-work2{background: url(../images/monster-village3.gif) no-repeat center center; background-size:cover;}
#profile-work3{background: #fff url(../images/shopping_1.jpg) no-repeat center center; background-size:100%;}
.profile-nav {
    position: relative;
    display: inline-block;
    background: url('../images/code.gif') no-repeat top center;
    background-size: cover;
    height: 400px;
    z-index: 80;
    @include size(100%,
    450px);
    margin-top: 5px;
    transition: all 0.5s ease;
    vertical-align: middle;
    overflow: visible;
    &:after {
        content: "";
        position: absolute;
        font-size: 15pt;
        line-height: 15pt;
        color: #fff;
        text-align: center;
        background: url('../images/white-search.png') no-repeat center center;
        background-size: 25%;
        top: 0;
        left: 0;
        @include size(0,
        0);
        border: 0px inset #fff;
        transition: all 0.5s ease 0.4s;
    }
    &:before {
        content: "";
        position: absolute;
        background: rgba(#000, 0.5);
        top: 0;
        left: 0;
        @include size(0%,
        0%);
        z-index: 30;
        transition: all 0.5s ease 0.2s;
    }
    .profile-title {
        color: #fff;
        opacity: 0;
        font-size: 15pt;
        text-decoration: none;
        text-align: center;
        line-height: 15pt;
        position: relative;
        z-index: 50;
        top: 0;
        transition: all 0.4s ease;
    }
    //hover nav
    $move-margin-top:48px;
    $move-margin-left:20px;
    &:hover {
        text-decoration: none;
        &:after {
            margin-left: $move-margin-left;
            margin-top: $move-margin-top;
            z-index: 30;
            border: 2px solid #fff;
            @include size(100%,
            100%);
            transform: skewY(-15deg);
        }
        &:before {
            @include size(100%,
            100%);
            margin-left: $move-margin-left - 5;
            margin-top: $move-margin-top - 5;
            transform: skewY(-15deg);
        }
        .profile-work {
            margin-left: $move-margin-left - 10;
            margin-top: $move-margin-top - 10;
            transform: skewY(-15deg);
        }
        .profile-title {
            top: calc(50% - 100px);
            opacity: 1;
            transform: skewY(-15deg);
            left: $move-margin-left - 10;
            margin: $move-margin-top 0px 0 $move-margin-left;
        }
    //hover fin
    }
//.profile-nav
}

@media screen and (max-width:$sm) {
#section1-container{
        padding-bottom: 120px;
        padding-top:80px;
    }
.profile-collect {
    padding: 20px 10px 150px 10px;
}
.profile-nav{
    margin-bottom: 20px;
    height:150px;

    $move-margin-top:50px;
    $move-margin-left:20px;
    &:after{
        background-size: 10%;
    }
    &:hover {
        text-decoration: none;
        z-index: 90;
        &:after {
            margin-left: $move-margin-left;
            margin-top: $move-margin-top;

        }
        &:before {
            margin-left: $move-margin-left - 5;
            margin-top: $move-margin-top - 5;
        }
        .profile-work {
            margin-left: $move-margin-left - 10;
            margin-top: $move-margin-top - 10;
        }
        .profile-title {
            top:10px;
            left: $move-margin-left - 10;
            margin: $move-margin-top 0px 0 $move-margin-left;
        }
    //hover fin
    }
}



}
