$bar-color:#053948;
// basic
#section2-container{
	padding:150px 20px 150px 20px;
}
// profile
.resume-role{
	position: relative;
	margin-top: -150px;
	border-radius:50%;
	border:2px solid #fff;
	@include size(200px,200px);
	background: url(../images/profile-role.jpg) center center;
}
.containter-resume{
	position: relative;
	text-align: left;
	h6{text-align: left; font-size: 2.1rem;}
	p{font-size:1.5rem;}
}
// container2 for skill & work experience & education
.container2-title{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	span{display: inline-block; float: left;margin:8px 10px auto 0px;}
	h6{float: left; text-align:center; letter-spacing:2px;}
}
// skillbrand
.container-resume2{
	.skillbrand{
		text-align: left;
		span{font-size: 1.2rem; letter-spacing: 0.2rem;}
		.bar{ @include size(100%,20px);border: 2px solid $bar-color;position: relative;margin-top:5px;}
		.bar-scroll{display: block;background:$bar-color; @include size(0%,100%);position: absolute; top:0;left:0;}
	}
}
// workexperence
.workexperence{
	&:before{
		content:"";
		@include size(10px,10px);
		background: gray;
		border-radius:50%;
		margin-left: -22px;
		position: absolute;
	}
	margin-left:25px;
	padding-bottom:15px;
	border-left:3px solid gray;
	h5{margin-top:-5px;font-size: 2.0rem; letter-spacing: 2px; font-weight: bold;}
	span{font-size: 1.5rem; letter-spacing: 2px; font-weight:bold;}
}
// fox -image
#fox-img{
	@include size(217px,185px);
	background: url(../images/fox.png) no-repeat center center;
	position: absolute;
	bottom:150px;
	z-index: 50;
	left:10px;
}

@media screen and (max-width:$md) {
	.container-resume{
		text-align: center;
	}
	.resume-role{
		display: block;
		margin:15px auto;
		text-align: center;
	}
}
@media screen and (max-width:$sm) {
	#section2-container{
	padding:60px 10px 170px 10px;
	overflow: visible;
}
	.container-resume2{
		.col-xs-12{
			margin-bottom: 10px;
		}
	}
}