block banner
  // index-fullview
  #section0.section.active
    .article-brand
      h1.subtitle Creative Web
      h5.time HI! My name is Brian / UI Desinger & Web developer
    #slide2.slide
      img(src='images/allprofile.jpg')
    #slide1.slide.active
      img(src='images/bg-top2.jpg')
    .mouse-wheel
      .mouse
      p Scroll