block banner
  // index-fullview
  #section0.section.active
    .slide-title-bg
      .article-brand
        h1 Brian Li 
        h2.txt-rotate(
      data-period="2000"
      data-rotate='[ "Code Designer", "Web developer", "UI/UX designer", "Crazy fun!" ]')
<<<<<<< HEAD
=======
        .atricle-profile
          p A web designer, Front- end engineer and  User Interface developer, over 5 years of working experiences. I have been involved with web development, focusing on standard-compliant HTML, CSS and JS. These web applications operated across a range of different devices (from mobile to desktop).
>>>>>>> master
        h5.time 2013-2018 web profile
    #slide1.slide.active
      .banner-swiper-container(options='.banner-swiper-container')
        .banner-collect.swiper-wrapper
    .mouse-wheel
      .mouse
      p Scroll