block commercial
  // banner-2
  #section4.section.fp-auto-height
    .fronend-banner.myContent
      h2
        | FRONT END 
        br
        | DEVELOPMENT.
      h6
        | standard-compliant HTML,CSS and JS to build the web application which works across the devices from mobile to desktop.