block contectUs
  // contect us
  #section3.section
    #section3-container.container
      .row
        .col-md-12.content-us
          form#contact_form.form-horizontal(action='contact_post.php', method='post')
            fieldset
              // Form Name
              .container-title
                span
                  img(src='images/content-title1.png', alt='聯絡我們')
              .row
                // Text input
                .col-md-6.form-group
                  input#name.form-control.input-md(name='name', type='text', placeholder='Enter your full name here', required='')
                // Text input
                .col-md-6.form-group.float-right
                  input#email.form-control.input-md(name='email', type='text', placeholder='Enter your email address here', required='')
              // Textarea
              .row
                .col-md-12.form-group
                  textarea#msg.form-control(name='msg', cols='6', rows='12', placeholder='Enter your message here')
              // Button
              .form-group
                .col-md-2.sumbmitcontral
                  button#submit.btn.btn-primary(name='submit') Send Message
              ul.col-md-2.social-media
                li
                  a(href='https://www.facebook.com/libeenya', target='_block')
                    img(src='images/facebook-social.png', alt='facebook')
                li
                  a(href='https://www.linkedin.com/in/bingyeli/', target='_block')
                    img(src='images/Linkin.png', alt='facebook')