block menu
  // menu
  div
    #menu.menu-position
      // Brand and toggle get grouped for better mobile display
      .header-wrapper
        .navbar-header
          .navbar-toggle-custom
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='images/logo@1x.png', alt='logo')
    .navbar-collapse-custom(aria-expanded='false')
      ul.nav.navbar-nav
        li(data-menuanchor='home')
          a(href='#home')
            i.glyphicon.glyphicon-knight
            p Home
        li(data-menuanchor='recent-projecte')
          a(href='#recent-project')
            i.glyphicon.glyphicon-queen
            p Recent Project
        li(data-menuanchor='resume')
          a(href='#resume')
            i.glyphicon.glyphicon-king
            p Resume
        li(data-menuanchor='contect-me')
          a(href='#contect-me')
            i.glyphicon.glyphicon-tower
            p Contect Us
  // meun - end