block project
  // project
  #section1.section
    #section1-container
      .container-title
        span
          img(src='images/work-title1.png', alt='work-profile')
        // profile-select
        .swiper-container
          .profile-collect.swiper-wrapper
          .swiper-button-next
          .swiper-button-prev
      //- a.moreprofile(href='http://brian.kumar.tw/web_design.html', target='blank') MORE
    // <div class="paper-container container-fluid"></div>