block resume
  // profile
  #section2.section
    #section2-container.container
      .container-title
        span
          img(src='images/skill-title1.png', alt='個人技能')
      .containter-resume.row
        // skill-logo
        #resume-logo.col-md-6
          img(src='images/resume-logo.png', alt='resume-logo')
        .col-md-6
          .col-md-12
            // skill - plugin
            #bars.clearfix
              .c100.p80
                span 80%
                .slice
                  .bar
                  .fill
                h5 PHOTOSHOP
              .c100.p80
                span 80%
                .slice
                  .bar
                  .fill
                h5 ILLUSTRATOR
              .c100.p80
                span 80%
                .slice
                  .bar
                  .fill
                h5 CSS/SASS
              .c100.p50
                span 50%
                .slice
                  .bar
                  .fill
                h5 HTML&JADE
              .c100.p40
                span 40%
                .slice
                  .bar
                  .fill
                h5 JAVASCRIPT
              .c100.p30
                span 30%
                .slice
                  .bar
                  .fill
                h5 GIT&GITHUB
          .col-md-12.atricle-brand
            | A Web designer , Front- end Engineer and User Interface Developer, over 3 years of working experiences. I am able to plan and have experiences of working on web development.
          .clearfix
          a.button-resume(href='https://drive.google.com/file/d/1PwFk4unQOAhUNXK69ztZtAJIqteRqXMT/view?usp=sharing', target='block') Resume