doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Brian's B612 planets
    meta(name='author', content='Brian Li')
    meta(name='description', content='My profile website')
    meta(name='keywords', content='profile,brain,brian,issue,letto,mosntervillage,labarmachine')
    // FB
    link(rel='image_src', href='http://brian-li.com/img/FB2.jpg')
    meta(property='og:title', content="Brian's B612 planets")
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://brian-li.com')
    meta(property='og:image', content='http://brian-li.com/img/FB2.jpg')
    meta(property='og:Site_name', content='My profile website')
    meta(property='og:Description', content='*** Welcome to my planet ***')
    // icon
    meta(name='Resource-type', content='Document')
    link(rel='shortcut icon', href='./images/favicon.ico')
    link(rel='bookmark', href='./images/favicon.ico')
    // plugin css
    link(rel='stylesheet', type='text/css', href='lib/css/fullpage.min.css')
    link(rel='stylesheet', type='text/css', href='lib/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='lib/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='lib/css/animsition.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css')
    // my css
    link(rel='stylesheet', type='text/css', href='css/index2.css')
  body
    .all-wrapper
      block menu
      #fullpage
        block banner
        block project
        block commercial
        block resume
        block contectUs
    // plugin js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/js/swiper.min.js')
    script(src='js/jquery-1.12.4.min.js')
    script(src='js/jquery-ui.min.js')
    script(src='js/TweenMax.min.js')
    script(src='lib/js/bootstrap.min.js')
    script(type='text/javascript', src='lib/js/scrolloverflow.min.js')
    script(type='text/javascript', src='lib/js/fullpage.min.js')
    script(type='text/javascript', src='lib/js/typewriter.js')
    script(type='text/javascript', src='js/custom.js')
    script.
      // swiper
      $(window).load(function () {
        var secondswiper = new Swiper ('.swiper-container', {
          // Optional parameters
          width:window.innerWidth,
          slidesPerView: 'auto',
          freeMode: false,
          grabCursor: false,
          // slideActiveClass: 'router-link-exact-active',
          slideToClickedSlide: true,
          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          breakpoints: {
            1366: {
              slidesPerView: 'auto',
              freeMode: true,
              grabCursor: true,
            }
          }
        });
        
        var bannerswiper = new Swiper('.banner-swiper-container', {
          slidesPerView: 'auto',
          slidesPerColumn: 3,
          spaceBetween: 10,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        });
      });